<a href="https://colab.research.google.com/github/napatt-error404/CVE100-68070503215/blob/main/Syntax_and_Logical_Error_Debugging_Python68070503215.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Expected Output:
# Sum of first 3 positives: 12

nums = [-1, 2, -5, 3, 7, -2, 4]
count = 0
total = 0

for n in nums:
    if n <= 0:
        continue
    total += n
    count += 1
    if count == 3:
        break
    else:
        continue

print("Sum of first 3 positives:", total)

Sum of first 3 positives: 12

In [4]:
# find the highest scoring player
# Expected Output:
# Winner: Cara
players = [("Alice", 15), ("Bob", 10), ("Cara", 20), ("Dan", 9)]
winner = None
best = -1

for name, score in players:
    if score > best:
        best = score
        winner = name

print("Winner:", winner)

Winner: Cara

In [18]:
# Expected Output:
# First positive multiple of 7: 21
nums = [-14, -7, 0, 7, 14, 21, 28]
first = None
for n in nums:
    if n > 0 and n % 7 == 0:
        first = n
        break

if first is None:
    print("None found")
else:
    print("First positive multiple of 7:", first)

First positive multiple of 7: 7

In [5]:
# Expected Output:
# mean=3.0 min=1 max=5

def stats(nums):
    mn = min(nums)
    mx = max(nums)
    avg = sum(nums)/len(nums)
    return mn, mx, avg

mn, mx, avg  = stats([1,2,3,4,5])
print(f"mean={avg} min={mn} max={mx}")

mean=3.0 min=1 max=5

In [6]:
# Expected Output: Random array of shape (2,3)
import numpy
a = numpy.random.random((2,3))
print(a)

[[0.91306696 0.03472871 0.26709613]
 [0.00136709 0.87384516 0.02636676]]

In [10]:
# Expected Output: sqrt(16) = 4.0
import numpy as np
print("sqrt(16) =", np.sqrt(16))

sqrt(16) = 4.0

In [9]:
# Expected Output: 0.7071067811865476

import math
import numpy
print(np.sin(math.pi / 4))

0.7071067811865475

In [8]:
# Expected Output: Mean = 3.0
import numpy as np
arr = np.array([1, 2, 3, 4, 5])
mean = np.sum(arr) / np.size(arr)
print("Mean =", mean)

Mean = 3.0

In [11]:
# Expected Output:
# Aye 25
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p = Person("Aye", 25)
print(p.name, p.age)

Aye 25

In [12]:
# Expected Output:
# 50000
class Employee:
    def __init__(self, salary):
        self.__salary = salary

    def get_salary(self):
        return self.__salary

e = Employee(50000)
print(e.get_salary())

50000

In [13]:
# Expected Output:
# Brand: Toyota, Engine: 2000
class Vehicle:
    def __init__(self, brand):
        self.brand = brand

class Car(Vehicle):
    def __init__(self, brand, engine):
        self.engine = engine
        super().__init__(brand)

c = Car("Toyota", 2000)
print(f"Brand: {c.brand}, Engine: {c.engine}")

Brand: Toyota, Engine: 2000

In [17]:
# Expected Output:
# Area: 12.56
import math

class Shape:
    def area(self):
        pass

class Circle(Shape):
    def area(self,radius):
        return math.pi * radius ** 2

c = Circle()
print("Area:", round(c.area(2),2))

Area: 12.57